flask
flask_cors
gunicorn
python-dotenv
psutil
google-cloud-vision
google-cloud-speech
google-cloud-firestore
google-cloud-bigquery
opencv-python-headless
moviepy==1.0.3
pydub
numpy
librosa
soundfile
pymupdf
python-docx
google-generativeai
requests 
beautifulsoup4
validators