flask
psutil
flask_cors
google-cloud-vision
google-cloud-speech
opencv-python-headless
moviepy==1.0.3
pydub
numpy
librosa
soundfile
pymupdf
python-docx
transformers 
torch
google-generativeai
requests 
beautifulsoup4
validators